* {
  box-sizing: border-box;
  text-align: center;
}
#pageContainer{
  padding: 30px;

  #updateTagsInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    #searchTags{
      font-size: 20px;
      input{
        text-align: left;
        padding-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        &[type='button']{
          background-color: aquamarine;
          border:1px solid aquamarine;
          box-shadow: none;
        }
      }
    }
    #checkSafeTag{
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      input{
        height: 20px;
        width: 20px;
        margin-left: 15px;
      }
      &>*{
      cursor: pointer;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      #searchTags{
        margin-bottom: 20px;
      }
    }
  }
  .main::after{
    content: "";
    clear: both;
    display: table;
  }
  .imageContainer{
    float: left;
    width: 25%;
    padding: 5px;
    height: 520px;
    overflow: auto;
    margin-bottom: 20px;
    
    .imageBorder{
      border: 1px solid black;
      overflow: hidden;
      padding: 20px;
      height: 100%;
      .imageBox{
        height: 200px;
        width: 100%;
      }
      .imageInfoBox{
        .imageDescription, .imageTags{
          text-align: left;
        }
        .imageDescription{
          word-break: break-all;
        }
        .imageTags{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      width: 50%;
    }
    @media screen and (max-width: 500px) {
        width: 100%;
    }
  }
}